@model CategoryProductsVm

<h1>Products in @Model.CategoryName</h1>

@if (Model.Products.Count == 0)
{
    <p>No products available in this category.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Procent</th>
                <th>Volume</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td><img src="@product.Picture" alt="Product Image" width="50px" height="auto" /></td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Procent</td>
                    <td>@product.Volume</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Back to Categories</a>
