@model ProductIndexVm;
@inject UserService UserService;
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
}

<h1>All Products</h1>

@if (isAdmin)
{
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Procent</th>
            <th>Volume</th>
            <th>Price</th>
            @if (isAdmin)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>

                <td><img src="@product.Picture" alt="Alcohol" width="50px" height="auto" /></td>

                <td>@if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@product.Id">@product.Name</a>
                    }
                    else
                    {
                        @product.Name
                    }
                </td>

                <td>@product.Description</td>
                <td>@product.Procent</td>
                <td>@product.Volume</td>
                <td>@product.Price</td>
                @if (isAdmin)
                {
                    <td><a href="@Url.Action("Delete", "Systembolaget", new {id = product.Id})">Delete</a></td>
                }

            </tr>
        }
    </tbody>
</table>